body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator{
    width: 300px;
    border:1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #3498db;
}

#display{
    width: 96%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 1.5em;
    border: none;
    border-radius: 6px;
    text-align: end;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
}

button{
    width: 100%;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: #fff;
    font-weight: 900;
}
